/*
   Maty/974 CSS
 */

.run-974 {
  color: inherit;
  font-size: small;
  vertical-align: sub;
}

#sidebar .author {
  margin: .2 0;
  color: #ffffff;
  font-size: 1.5em;
}

/*
   See default.html & _config.yml
 */
.github-edit-link {
  position: fixed;
  right: 1em;
  top: 2px;
  font-size: .75em;
  margin: .2em;
  z-index: 10;
}

.cv-when-where {
  color: #555;
}

.cv h2 {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

.cv h3 {
  border-bottom: 1px solid #555;
  /*background-color: #f5f5f5;*/
}

.float-this {
  float: right;
}

.film-thumb {
    max-width: 100px;
}
