/*
   Maty/974 CSS
 */

.run-974 {
  color: inherit;
  font-size: small;
  vertical-align: sub;
}

.cv-when-where {
  color: #555;
}

.cv h2 {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

.cv h3 {
  border-bottom: 1px solid #555;
  /*background-color: #f5f5f5;*/
}

.float-this {
  float: right;
}

.film-thumb {
    max-width: 100px;
}
