---
layout: default
title: Home
---

<section class="frontpage-disclaimer">
  Hi, just to let you know that this “web log” is essentially a place where I
  leave somewhat (im)personal notes to <a href="/about" title="About me">myself</a>.
</section>

<section class="posts">
  {% for post in site.posts %}
    {% if post.published == false %}
    {% elsif post.tags contains 'old' %}
    {% elsif post.tags contains 'note' %}
      <article class="note">
        {{ post.content | markdownify }}
        <small class="note-meta">
          {{ post.date | date_to_string }}
          &ndash;
          <a href="{{ post.url }}">{{ post.title }}</a>
        </small>
      </article>
    {% else %}
      <article class="post-link">
        {{ post.date | date_to_string }}
        &ndash;
        <a href="{{ post.url }}">{{ post.title }}</a>
      </article>
    {% endif %}
  {% endfor %}
</section>

{% if true %}
<section class="posts old-posts">
  <h3>Some old posts...</h3>
  <ul>
    {% for post in site.posts %}
      {% if post.tags contains 'old' %}
        <li>
          {{ post.date | date_to_string }}
          &ndash;
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if false %}
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}
