---
layout: page
title: "Notes"
published: true
---

<p><em>
  Personal notes as I wander through codes&hellip;
</em></p>

{% assign pages_list = site.pages | sort:"title" %}
<ul class="no-bullets">
{% for node in pages_list %}
  {% if node.title != null and node.layout == "page" and node.published == true %}
    {% if node.category == "notes" %}
      <li>
        <a href="{{ node.url }}">{{ node.title }}</a>
        {% if node.tagline %}
          <p class="page-tagline">{{ node.tagline }}</p>
        {% endif %}
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

<strong>EOF</strong>

