<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}{% if page.date %}, {{ page.date }}{% endif %}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/poole.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/syntax.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/lanyon.css" | relative_url }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/maty.css" | relative_url }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/apple-touch-icon-precomposed.png" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

{% if true %}
  <!-- http://fontawesome.io/get-started/

       “ Tried using the Ruby GEM + SASS, see _config.yml and /css/main.scss ;
         but it didn't work "out-of-the-box". ”

       See icons at http://fontawesome.io/icons/
       Use ex. <a href="..." class="fa fa-github">...</a>
         -->
  <script src="https://use.fontawesome.com/cbf8ab852d.js"></script>
{% else %}
  <!-- Font Awesome 5... is quite heavy, and resort to SVG. -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/brands.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/solid.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/regular.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.1/js/fontawesome.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js"></script>
{% endif %}

  <!-- Youtube-TV fork: https://github.com/Giorgio003/Youtube-TV -->
  <link href="/vendor/ytv/ytv.css" type="text/css" rel="stylesheet" />
</head>
