<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item author">
    <div>
      <strong class="name">{{ site.author.name }}</strong>
      <p class="description">{{ site.description }}</p>
    </div>
    <!--  <img src="/assets/fabien_cadet_jet_lagged_bw.png"
             title="Fabien Cadet jet-lagged profile picture B&W."
             class="profile-picture-me">  -->
  </div>

  <div style="clear: both;"></div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null and node.layout == "page" and node.published == true %}
        {% if node.category != "notes" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
             href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    <!--<span class="sidebar-nav-item">Version {{ site.version }}</span>-->
  </nav>

  <!-- SOCIAL LINKS -->
  <div class="sidebar-item sidebar-social-links">
    <ul>
      <li>
        <img src="/assets/cadet.fabien_at_gmail.com.white.png"
             alt="email address as image."
             class="my-email-address" />
      </li>
      <li>
        <img src="/assets/cadet_fabien_mobile_phone_number.white.png"
             alt="Mobile phone number as image."
             class="my-telephone-number" />
      </li>
      <li>
        <img src="/assets/cadet_fabien_home_phone_number.white.png"
             alt="Home phone number as image."
             class="my-telephone-number" />
      </li>
      <li>
        &nbsp;
      </li>
      <li>
        <a href="https://github.com/{{ site.github_username }}/"
           title="Github user {{ site.github_username }}">
          github.com/{{ site.github_username }}&nbsp;<span class="fa fa-github"></span></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"
           title="LinkedIn professional network {{ site.linkedin_username }}">
          linkedin.com/in/{{ site.linkedin_username }}&nbsp;<span class="fa fa-linkedin-square"></span></a>
      </li>
      <!-- Viadeo sucks...
      <li>
        <a href="http://www.viadeo.com/profile/{{ site.viadeo_username }}/"
           title="Viadeo french-touch professional network">
          viadeo.com/profile/{{ site.viadeo_username }}&nbsp;<span class="fa fa-viadeo"></span></a>
      </li> -->
      <li>
        <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/"
           title="Flickr photostream of {{ site.flickr_username }}">
          flickr.com/photos/{{ site.flickr_username }}&nbsp;<span class="fa fa-flickr"></span></a>
      </li>
      <li>
        <a href="http://instagram.com/{{ site.instagram_username }}/"
           title="Instagram of {{ site.instagram_username }}">
          instagram.com/{{ site.instagram_username }}&nbsp;<span class="fa fa-instagram"></span></a>
      </li>
      <li>
        <a href="https://www.imdb.com/user/{{ site.imdb_username }}/"
           title="IMDB user profile {{ site.imdb_username }}">
          imdb.com/user/{{ site.imdb_username }}&nbsp;<span class="fa fa-imdb"></span></a>
      </li>
      <li>
        <a href="http://www.last.fm/user/{{ site.lastfm_username }}"
           title="Last.fm user profile {{ site.lastfm_username }}">
          last.fm/user/{{ site.lastfm_username }}&nbsp;<span class="fa fa-spotify"></span></a>
      </li>
      <li>
        <a href="https://open.spotify.com/user/{{ site.spotify_username }}"
           title="Spotify user profile {{ site.spotify_username }}">
          spotify.com/user/{{ site.spotify_username }}&nbsp;<span class="fa fa-spotify"></span></a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/{{ site.youtube_user_channel }}"
           title="Youtube channel: {{ site.youtube_user_channel }}">
          youtube.com/c/{{ site.youtube_user_channel }}&nbsp;<span class="fa fa-youtube-square"></span></a>
      </li>
      <li>
        <a href="https://www.facebook.com/{{ site.facebook_username }}"
           title="Facebook profile {{ site.facebook_username }}">
          facebook.com/{{ site.facebook_username }}&nbsp;<span class="fa fa-facebook-square"></span></a>
      </li>
      <li>
        <a href="https://plus.google.com/+{{ site.googleplus_username }}"
           title="Google Plus +{{ site.googleplus_username }}">
          plus.google.com/+{{ site.googleplus_username }}&nbsp;<span class="fa fa-google-plus-circle"></span></a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}"
           title="Twitter of {{ site.twitter_username }}">
          twitter.com/{{ site.twitter_username }}&nbsp;<span class="fa fa-twitter"></span></a>
      </li>
      <li>
        <a href="https://groups.diigo.com/group/coders/content/user/fabicxx"
           title="Diigo social bookmarking contributions to the “coders” group.">
          groups.diigo.com/group/coders&nbsp;<img class="diigo-icon" src="/assets/diigo-icon-16x16.png" alt="Diigo icon"></a>
      </li>
      <li>
        <a href="https://www.reddit.com/user/{{ site.reddit_username }}/"
           title="Reddit user {{ site.reddit_username }}">
          reddit.com/user/{{ site.reddit_username }}&nbsp;<span class="fa fa-reddit"></span></a>
      </li>
      <li>
        <a href="https://disqus.com/by/{{ site.disqus_username }}/"
           title="Disqus.com online profile">
          disqus.com/by/{{ site.disqus_username }}/&nbsp;<img class="disqus-icon" src="/assets/disqus-icon-16x16.png" alt="Disqus icon"></a>
      </li>
      <!-- HOPWORK french (France) freelancing thing -->
      <li>&nbsp;</li>
      <li>
        <div class="sidebar-hopwork-link">
          <a href="https://www.hopwork.fr/profile/{{ site.hopwork_username }}"
             data-id=""
             class="hopwork_button"
             data-width="small"
             data-colorscheme="orange"
             data-recos="false"
             data-bgrecos="clear"
             data-layout="basic">
            hopwork.fr/profile/{{ site.hopwork_username }}</a>
            <!-- <br><small style="font-size: .75em;">Hopwork</small> -->
          </div>
      </li>
    </ul>
  </div>

  <!-- COPRIGHT & THANKS -->
  <!--
  <div class="sidebar-item sidebar-last-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}
      {% if site.version %}
        &mdash; <span class="site-version">{{ site.version }}</span>
      {% endif %}
    </p>
    <div class="warm-thanks-bbox">
      <p>
        Powered by Jekyll &amp; Github Pages ;<br>
        Jekyll theme <a href="http://lanyon.getpoole.com/">&copy;&nbsp;Laynon Poole</a><br>
        (warm thanks btw.)
      </p>
    </div>
  </div> -->
</div>
