@charset "utf-8";

@import "vars";


body {
  background-color: $body-bg-color;
}

tt.keyw { color: white; }
tt.fixme { color: lightyellow; }


.masthead {
  background-color: white;
}

/* Author */
#sidebar .author .name {
  margin: .2 0;
  color: #ffffff;
  font-size: 1.5em;
}

#sidebar .author > div:first-child {
  //float: right;
}

#sidebar .author .description {
  font-family: monospace;
  font-size: .5em;
  background-color: inherit;
  color: inherit;
  white-space: pre-wrap;
  line-height: normal;
}

#sidebar .profile-picture-me {
  width: 25%;
  float: left;
}

/* Social links */
.sidebar-social-links {
  padding-left: 0;
  padding-right: 0;
}
.sidebar-social-links > ul {
  list-style: none;
  padding: 0;
  text-align: right;
  font-family: monospace;
}
.sidebar-social-links > ul > li {
  //display: inline;
  margin: 0 .5em;
}
.sidebar-social-links a {
  font-size: .75em;
  text-decoration: none;
}
.sidebar-social-links a:hover {
  color: #268bd2;
}

.sidebar-last-item {
  position: absolute;
  bottom: 0;
  font-size: small;
}

.site-version {
  font-family: monospace;
}

.warm-thanks-bbox {
  border: 1px dashed #7a7a7a;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: x-small;
}
