@charset "utf-8";

@import "vars";


body {
  background-color: $body-bg-color;
}

tt.keyw { color: white; }
tt.fixme { color: lightyellow; }


.masthead {
  background-color: white;
  position: relative;
  //background: url("/assets/orange_sky_trees_slice_1359x73.png");
}

/* Author */
#sidebar .author .name {
  margin: .2 0;
  color: #ffffff;
  font-size: 1.5em;
}

#sidebar .author > div:first-child {
  //float: right;
}

#sidebar .author .description {
  font-family: monospace;
  font-size: .5em;
  background-color: inherit;
  color: inherit;
  white-space: pre-wrap;
  line-height: normal;
}

#sidebar .profile-picture-me {
  width: 25%;
  float: left;
}

/* Social links */
.sidebar-social-links {
  padding-left: 0;
  padding-right: 0;
}
.sidebar-social-links > ul {
  list-style: none;
  padding: 0;
  text-align: right;
  font-family: monospace;
}
.sidebar-social-links > ul > li {
  //display: inline;
  margin: 0 .5em;
  position: relative; /* for inner elt. abs. positioning */
}
.sidebar-social-links a {
  font-size: .75em;
  text-decoration: none;
}
.sidebar-social-links a:hover {
  color: #268bd2;
}

img.diigo-icon, img.disqus-icon {
  display: inline;
  width: 11px;
  margin: auto;
  border-radius: 4px;
}

.sidebar-last-item {
  position: absolute;
  bottom: 0;
  font-size: small;
}

.site-version {
  // font-family: monospace;
}

// fixme: ain't good.
@media (max-width: 30em) {
  .site-version { display: none; }
  .warm-thanks-bbox { display: none; }
}


/*
   See default.html & _config.yml
 */
.github-edit-link {
  position: fixed;
  right: 1rem;
  top: .1rem;
  font-size: .75em;
  z-index: 10;
}

.pdf-export-widget {
  position: fixed;
  right: 2rem;
  top: .1rem;
  font-size: .75em;
  z-index: 10;
  cursor: pointer;
}

.gitter-link {
  position: absolute;
  right: .2rem;
  bottom: -0.8rem;
  z-index: 10;
  cursor: pointer;
}

//==- Bullets before headings for .page contents ---------------------------==//
@media(min-width: 768px) {
  article.page {
    h2:before {
      content: "¶";
      position: absolute;
      left: -1em;
      color: white;
    }

    h3:before {
      content: "▪";
      position: absolute;
      left: -1.1em;
      color: white;
    }

    h4:before {
      content: "▪•";
      position: absolute;
      left: -1.42em;
      color: white;
    }

    h5:before {
      content: "▪•◦";
      position: absolute;
      left: -1.42em;
      color: white;
    }
  }

  // We need to adjust here for non-wide "normal pages" content
  // where we have a dark-grey thick border around the page.
  .container.content {
    article.page {
      h2:before { left: -.6em; }
      h3:before { left: -.63em; }
      h4:before { left: -.9em; }
      h5:before { left: -1.1em; }
    }
  }
}
